.main-slider__container {
  background-color: #000;
  height: 100%;
  max-height: 100vh;
  transition: background-color 1s ease-out;
  position: relative;

  @include tablet {
    max-height: unset;
    min-height: 100dvh;
    overflow-y: auto;
    // scroll-snap-type: y mandatory;
    // scroll-padding-top: 5rem;
    background-color: #fff;
  }

  &::before {
    content: "";
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 21rem;
    transform: translate(-50%, 0);
    width: 1px;
    background-color: rgba(#fff, 0.5);
    height: 50rem;

    transition: background-color 1s ease-out;

    @include tablet {
      display: none;
    }
  }

  &>.swiper-wrapper {
    height: 100vh;

    @include tablet {
      min-height: 100dvh !important;
      height: unset;
      flex-direction: column;
    }

    &>.swiper-slide {
      height: 100%;
      scroll-snap-align: start;
      position: relative;
      display: flex;
      flex-direction: column;
      max-width: 100%;

      @include tablet {
        height: auto !important;
        // min-height: 100dvh !important;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }



  .main-slider__pagination {
    --swiper-pagination-right: unset;
    --swiper-pagination-left: 5.5rem;
    position: fixed;

    right: unset;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include tablet {
      display: none;
    }
  }

  .slider-thumb {
    display: inline-block;
    align-items: center;
    width: unset !important;
    height: unset !important;
    border-radius: unset !important;
    background: none;
    text-align: left;
    opacity: 1;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: calc(100% + 1rem);
      height: .1rem;
      width: 2rem;
      background-color: currentColor;

      transition: width .3s ease-out;


    }

    &.swiper-pagination-bullet-active {
      --swiper-pagination-bullet-opacity: 1;
      color: #ea5b0c !important;

      &::before {
        width: 4rem;
      }
    }
  }
}