.menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #ffac5f;
  transform: translateY(-100%);
  overflow-y: auto;
  transition: transform .5s ease-out;

  &.active {
    transform: translateY(0);
  }

  &__body {
    padding-left: 13.33333vw;
    padding-right: calc(13.33333vw);
    padding-top: 15vh;

    @include tablet {
      padding: 0 1rem;
      padding-top: 6.5rem;
      padding-bottom: 2rem;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;

    @include tablet {
      flex-direction: column;
      gap: 5rem;
    }
  }

  &__right {
    flex: 1;

    @include tablet {
      align-self: center;
      text-align: center;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3rem;
    padding-right: 1.5rem;
    transition: opacity .3s ease-out;

    @include tablet {
      align-items: center;
    }
  }

  &__link {
    display: inline-block;
    font-weight: 700;
    font-size: 2.4rem;
    letter-spacing: 0.1em;
    color: #fff;

    @include tablet {
      font-size: 2rem;
    }

  }
}

.nav {
  flex: 1;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  &__link {
    font-weight: 700;
    font-size: 3.2rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    transition: color .5s ease-out, padding-bottom .3s ease-out;
    will-change: padding-bottom;

    &.dropdown-active {
      padding-bottom: 3rem;
    }

    a {
      color: inherit;
    }

    @include tablet {
      font-size: 2rem;
    }

    &.disable {
      color: rgba(#fff, 0.5);
    }

    &-extra {
      display: inline-flex;
      align-items: center;
      gap: 3rem;

      .plus {
        content: "";
        display: block;
        width: 4.5rem;
        height: 4.5rem;
        background-image: url('./../img/plus.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        pointer-events: none;

        @include tablet {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }
}

.nav-extra {
  display: none;
  transition: opacity .3s ease-out;

  @include tablet {
    padding-right: 7px;
    background-color: #fff;
    padding: 1rem;
  }

  ::-webkit-scrollbar {
    width: 1px;
    border-radius: 20px;

    @include tablet {
      border-radius: 5px;
      width: 5px;
    }
  }

  ::-webkit-scrollbar-track {
    background: rgba(#fff, 0.5);

  }

  ::-webkit-scrollbar-thumb {
    background-color: #fff;

    @include tablet {
      background-color: #ffa878;
      border-radius: 5px;
      width: 5px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow-y: auto;
    max-height: 64rem;
    padding-right: 1.5rem;

    @include tablet {
      max-height: 38rem;
      padding: 0;
    }

  }

  &__link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
    color: #fff;

    @include tablet {
      color: #ea5b0c;
      font-size: 1.6rem;
    }
  }
}