.third-slide {
  padding-top: 11rem;
  padding-bottom: 2rem;
  padding-left: calc(13.333333vw + 1.5rem);
  padding-right: calc(13.333333vw + 1.5rem);

  @include tablet {
    padding: 8.5rem 0 2rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;

    @include tablet {
      flex-direction: column;
      padding: 0 1rem;
      margin-bottom: 5rem;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem 2rem;
      padding: 0 1rem;
    }
  }

  &__title {
    flex: 1;

    @include tablet {
      margin-bottom: 3rem;
    }
  }

  &__text {

    padding-left: 1.5rem;
    flex: 1;

    @include tablet {
      padding-left: 0;

    }
  }

  &__desc {
    margin-bottom: 3rem;
  }

  &__btn {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    color: #292929;

    border-color: rgba(41, 41, 41, 0.5);
  }
}