:root {
  --font-family: "Evolventa", sans-serif;
  --second-family: "Jost", sans-serif;
  --third-family: "Oswald", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Evolventa";
  src: url("../fonts/../fonts/Evolventa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Evolventa";
  src: url("../fonts/../fonts/Evolventa-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/../fonts/Jost-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/../fonts/Jost-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/../fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/../fonts/Oswald-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.5208333333vw;
}
@media (min-width: 1921px) {
  html {
    font-size: 0.4761904762vw;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 1.6949152542vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 2.2222222222vw;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  height: 100%;
  overflow: hidden;
}

.main {
  height: 100%;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.info-section {
  width: 75vw;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 4;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3rem;
  padding: 1.4rem 4rem;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}
@media (max-width: 1024px) {
  .btn {
    font-size: 1.8rem;
  }
}

.title2 {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 5.8rem;
  color: #fff;
}
@media (max-width: 1024px) {
  .title2 {
    font-size: 3.2rem;
  }
}

.title1 {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 8rem;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .title1 {
    font-size: 3.2rem;
  }
}

.title3 {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 4.8rem;
  text-transform: uppercase;
  color: #292929;
}
@media (max-width: 1024px) {
  .title3 {
    font-size: 3.2rem;
  }
}

.title5 {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 120%;
  color: #ea5b0c;
}

.desc {
  margin: 0;
  font-weight: 400;
  font-size: 1.8rem;
  color: #292929;
}
@media (max-width: 1024px) {
  .desc {
    font-size: 1.6rem;
  }
}

@media (max-width: 1024px) {
  .main-slider__container > .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.main-slider__container > .swiper-wrapper > .swiper-slide::before {
  content: "";
  position: absolute;
  z-index: 5;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  left: 13.33333vw;
}
@media (max-width: 1024px) {
  .main-slider__container > .swiper-wrapper > .swiper-slide::before {
    display: none;
  }
}

.dark .swiper-pagination-bullet {
  color: #b4b4b4 !important;
}
.dark .swiper-pagination-bullet-active {
  color: #ea5b0c !important;
}
.dark .header__logo .arman {
  fill: #292929;
}
.dark .main-slider__container {
  background-color: #fff;
}
.dark .header__menu {
  border-left-color: #8f8f8f;
}
.dark .header__menu span {
  color: #292929;
}
.dark .header__menu .line {
  background-color: #292929;
}
.dark .header__menu .line::before {
  background-color: #292929;
}
.dark .header__lang {
  color: #292929;
}
.dark .header__lang.active::after {
  background-color: #292929;
}
.dark .main-slider__container::before {
  background-color: rgba(165, 165, 165, 0.5);
}
.dark .main-slider__container > .swiper-wrapper > .swiper-slide::before {
  background-color: rgba(165, 165, 165, 0.5);
}

.preloader {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: #000;
  -webkit-transition: opacity 1.5s ease-out;
  transition: opacity 1.5s ease-out;
}
.preloader__video {
  width: 100%;
  height: 100%;
}
.preloader__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  padding: 3rem 3.5rem;
}
@media (max-width: 1024px) {
  .header {
    padding: 1rem;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8rem;
}
@media (max-width: 1024px) {
  .header__container {
    gap: 2rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.header__logo {
  width: 18.5rem;
  height: auto;
}
@media (max-width: 1024px) {
  .header__logo {
    width: 13rem;
  }
}
.header__logo svg {
  width: 100%;
  height: 100%;
}
.header__logo svg .arman {
  fill: #fff;
  -webkit-transition: fill 0.5s ease-out;
  transition: fill 0.5s ease-out;
}
.header__languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4.6rem;
}
@media (max-width: 1024px) {
  .header__languages {
    display: none;
  }
}
.header__lang {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 2.4rem;
  color: #fff;
  cursor: pointer;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
.header__lang.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #fff;
  width: 100%;
}
.header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header__burger {
    width: 4rem;
    height: 1rem;
  }
}
.header__burger .line {
  position: relative;
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.header__burger .line::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2rem;
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
@media (max-width: 1024px) {
  .header__burger .line::before {
    bottom: -1rem;
  }
}
.header__plug {
  opacity: 0;
}
.header__menu {
  padding: 3.5rem 2.6rem;
  width: 13.33333vw;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .header__menu {
    width: unset;
    padding: unset;
    position: static;
    border: none;
  }
}
.header__menu span {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
.header__menu span[disabled] {
  pointer-events: none;
}
@media (max-width: 1024px) {
  .header__menu span {
    display: none;
  }
}

.main-slider__container {
  background-color: #000;
  height: 100%;
  max-height: 100vh;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  position: relative;
}
@media (max-width: 1024px) {
  .main-slider__container {
    max-height: unset;
    min-height: 100dvh;
    overflow-y: auto;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    background-color: #fff;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  .main-slider__container {
    scroll-padding-bottom: 9rem;
  }
}
.main-slider__container::before {
  content: "";
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 21rem;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 50rem;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
@media (max-width: 1024px) {
  .main-slider__container::before {
    display: none;
  }
}
.main-slider__container > .swiper-wrapper {
  height: 100vh;
}
@media (max-width: 1024px) {
  .main-slider__container > .swiper-wrapper {
    min-height: 100dvh;
    height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.main-slider__container > .swiper-wrapper > .swiper-slide {
  height: 100%;
  scroll-snap-align: start;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 100%;
}
@media (max-width: 1024px) {
  .main-slider__container > .swiper-wrapper > .swiper-slide {
    height: auto !important;
    min-height: 100dvh;
  }
}
.main-slider__container > .swiper-wrapper > .swiper-slide img {
  width: 100%;
  height: 100%;
}
.main-slider__container .main-slider__pagination {
  --swiper-pagination-right: unset;
  --swiper-pagination-left: 5.5rem;
  position: fixed;
  right: unset;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3rem;
}
@media (max-width: 1024px) {
  .main-slider__container .main-slider__pagination {
    display: none;
  }
}
.main-slider__container .slider-thumb {
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: unset !important;
  height: unset !important;
  border-radius: unset !important;
  background: none;
  text-align: left;
  opacity: 1;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  position: relative;
}
.main-slider__container .slider-thumb::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: calc(100% + 1rem);
  height: 0.1rem;
  width: 2rem;
  background-color: currentColor;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
.main-slider__container .slider-thumb.swiper-pagination-bullet-active {
  --swiper-pagination-bullet-opacity: 1;
}
.main-slider__container .slider-thumb.swiper-pagination-bullet-active::before {
  width: 4rem;
}

.first-slide {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 13.33333vw;
  padding-right: 13.33333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .first-slide {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
}
.first-slide__cover {
  position: absolute;
  top: 0;
  right: 13.333333vw;
  height: calc(100% - 16.5rem);
  background-color: #fff;
  width: 0;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}
.first-slide__cover--start {
  right: unset;
  left: 13.33333vw;
}
@media (max-width: 1024px) {
  .first-slide__cover {
    display: none;
  }
}
.first-slide__content {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out, visibility 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out, transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  padding: 0 1.5rem;
  display: none;
}
@media (max-width: 1024px) {
  .first-slide__content {
    margin-bottom: 3rem;
    padding-left: 0;
    padding-top: 8.5vh;
  }
}
.first-slide__content.active {
  opacity: 1;
  visibility: visible;
  display: block;
}
.first-slide__content.active .first-slide__background {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.first-slide__content.active-text .first-slide__desc, .first-slide__content.active-text .first-slide__btn {
  color: #292929;
}
.first-slide__content.active-text .first-slide__btn {
  border-color: #292929;
}
.first-slide__text {
  position: absolute;
  left: 13.33333vw;
  right: 13.33333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3rem;
  top: 25vh;
  min-height: 46rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .first-slide__text {
    position: static;
    padding-top: 0;
    padding-left: 0;
    min-height: 24rem;
    gap: 2rem;
  }
}
.first-slide__title {
  margin: 0;
  position: relative;
  z-index: 4;
  padding-left: 1.5rem;
}
@media (max-width: 1024px) {
  .first-slide__title {
    padding-left: 0;
  }
}
.first-slide__description {
  width: 100%;
  max-width: 44rem;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 12.5rem;
}
.first-slide__description--start {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-left: 2.5rem;
}
@media (max-width: 1024px) {
  .first-slide__description--start {
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  .first-slide__description {
    max-width: unset;
    margin-right: 0;
  }
}
.first-slide__desc {
  position: relative;
  z-index: 4;
  margin: 0;
  font-weight: 400;
  font-size: 2.4rem;
  color: #fff;
  margin-bottom: 3.5rem;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
@media (max-width: 1024px) {
  .first-slide__desc {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}
.first-slide__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}
.first-slide__background img,
.first-slide__background video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .first-slide__background::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.first-slide__video {
  width: 100%;
  height: 100%;
}
.first-slide__thumbs {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 4;
  margin-top: auto;
}
@media (max-width: 1024px) {
  .first-slide__thumbs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: static;
    gap: 1rem;
  }
}
.first-slide__thumb {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 4.8rem 3.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
  min-height: 100%;
  -ms-flex-preferred-size: 28.5rem;
  flex-basis: 28.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 1024px) {
  .first-slide__thumb {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding: 2.1rem 4rem;
  }
}
.first-slide__thumb span {
  position: relative;
  z-index: 4;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}
.first-slide__thumb::before {
  content: attr(data-num);
  position: relative;
  z-index: 4;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}
.first-slide__thumb::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ea5b0c;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
@media (any-hover: hover) {
  .first-slide__thumb:hover::after {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.first-slide__thumb.active::after {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.first-slide__btn {
  -webkit-transition: color 0.5s ease-out, border-color 0.5s ease-out;
  transition: color 0.5s ease-out, border-color 0.5s ease-out;
}

.second-slide {
  height: 100%;
  padding-left: calc(13.333333vw + 1.5rem);
  padding-right: 13.333333vw;
  overflow-y: auto;
}
@media (max-width: 1024px) {
  .second-slide {
    padding: 0 1rem;
    padding-top: 4rem;
  }
}
.second-slide__title {
  margin-bottom: 5rem;
}
@media (max-width: 1024px) {
  .second-slide__title {
    display: none;
    margin-bottom: 4rem;
  }
}
.second-slide__title--mob {
  display: none;
}
@media (max-width: 1024px) {
  .second-slide__title--mob {
    display: block;
  }
}
.second-slide__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}
@media (max-width: 1024px) {
  .second-slide__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5rem;
    padding-top: 8.5rem;
  }
}
.second-slide__close {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 3rem;
  border-top: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
  padding: 2rem 1rem;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #292929;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .second-slide__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.second-slide__pagination {
  display: none;
  position: static;
}
@media (max-width: 1024px) {
  .second-slide__pagination {
    display: block;
  }
}
.second-slide__pagination .swiper-pagination-bullet {
  background-color: #9c9c9c;
  width: 0.5rem;
  height: 0.5rem;
}
.second-slide__pagination .swiper-pagination-bullet-active {
  border: 1px solid #ea5b0c;
  background-color: transparent;
}
.second-slide__items {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .second-slide__items {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.second-slide__items > .swiper-slide:not(:last-child) {
  margin-bottom: 3rem;
}
.second-slide__item:not(:last-child) {
  margin-bottom: 3rem;
}
.second-slide__left {
  padding-top: 14rem;
  padding-left: 1.5rem;
  padding-right: 10rem;
}
@media (max-width: 1024px) {
  .second-slide__left {
    padding: 0;
  }
}
@media (max-width: 1024px) {
  .second-slide__right {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}
.second-slide__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
}
@media (max-width: 1024px) {
  .second-slide__wrapper {
    -ms-grid-rows: unset;
    grid-template-rows: unset;
  }
}
.second-slide__slider {
  display: none;
}
.second-slide__slider.active {
  display: block;
}

.info-item__title:not(:last-child) {
  margin-bottom: 3rem;
}

.info-thumb {
  padding: 3rem;
  padding-top: 16.8rem;
  border: 1px solid #8f8f8f;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .info-thumb {
    padding: 3.2rem 1rem;
  }
}
.info-thumb__count {
  display: block;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #ea5b0c;
  position: relative;
  z-index: 4;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  margin-bottom: 3rem;
}
@media (max-width: 1024px) {
  .info-thumb__count {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
}
.info-thumb__title {
  margin: 0;
  padding-top: 3rem;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 2.6rem;
  text-transform: uppercase;
  color: #292929;
  position: relative;
  z-index: 4;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
@media (max-width: 1024px) {
  .info-thumb__title {
    font-size: 1.4rem;
    padding-top: 1rem;
  }
}
.info-thumb__title::before {
  content: "";
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  width: 27rem;
  height: 0.1rem;
  background-color: #a6a6a6;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
@media (max-width: 1024px) {
  .info-thumb__title::before {
    width: 15rem;
  }
}
.info-thumb__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.info-thumb__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.info-thumb.active .info-thumb__title,
.info-thumb.active .info-thumb__count {
  color: #fff;
}
.info-thumb.active .info-thumb__title::before {
  background-color: #fff;
}
.info-thumb.active .info-thumb__image {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
@media (any-hover: hover) {
  .info-thumb:hover .info-thumb__title,
  .info-thumb:hover .info-thumb__count {
    color: #fff;
  }
  .info-thumb:hover .info-thumb__title::before {
    background-color: #fff;
  }
  .info-thumb:hover .info-thumb__image {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.third-slide {
  padding-top: 11rem;
  padding-bottom: 2rem;
  padding-left: calc(13.333333vw + 1.5rem);
  padding-right: calc(13.333333vw + 1.5rem);
}
@media (max-width: 1024px) {
  .third-slide {
    padding: 8.5rem 0 2rem;
  }
}
.third-slide__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 3vh;
}
@media (max-width: 1024px) {
  .third-slide__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 1rem;
    margin-bottom: 5rem;
  }
}
.third-slide__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1024px) {
  .third-slide__container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 2rem;
    padding: 0 1rem;
  }
}
.third-slide__title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (max-width: 1024px) {
  .third-slide__title {
    margin-bottom: 3rem;
  }
}
.third-slide__text {
  padding-left: 1.5rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (max-width: 1024px) {
  .third-slide__text {
    padding-left: 0;
  }
}
.third-slide__desc {
  margin-bottom: 3rem;
}
.third-slide__btn {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: #292929;
  border-color: rgba(41, 41, 41, 0.5);
}

.service {
  padding: 0 1rem;
}
@media (max-width: 1024px) {
  .service {
    -webkit-box-shadow: 5px 5px 5px 0 rgba(234, 91, 12, 0.1);
    box-shadow: 5px 5px 5px 0 rgba(234, 91, 12, 0.1);
    background: #fff;
    padding: 1.6rem 0;
  }
}
.service__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 22.7rem;
  margin-bottom: 1rem;
}
@media (max-width: 1024px) {
  .service__image {
    height: 8rem;
    width: 8rem;
    margin: 0 auto;
  }
}
.service__image svg {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.service__image svg .orange {
  stroke: #B0B0B0;
  -webkit-transition: stroke 0.3s ease-out;
  transition: stroke 0.3s ease-out;
}
.service__image svg .gray {
  stroke: #FFA878;
  -webkit-transition: stroke 0.3s ease-out;
  transition: stroke 0.3s ease-out;
}
.service__title {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
@media (max-width: 1024px) {
  .service__title {
    font-size: 1.4rem;
  }
}
@media (any-hover: hover) {
  .service:hover .service__image svg .orange {
    stroke: #FFA878;
  }
  .service:hover .service__image svg .gray {
    stroke: #B0B0B0;
  }
  .service:hover .service__title {
    color: #FFA878;
  }
}

.menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #ffac5f;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
.menu.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.menu__body {
  padding-left: 13.33333vw;
  padding-right: 13.33333vw;
  padding-top: 15vh;
}
@media (max-width: 1024px) {
  .menu__body {
    padding: 0 1rem;
    padding-top: 6.5rem;
    padding-bottom: 2rem;
  }
}
.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 3rem;
}
@media (max-width: 1024px) {
  .menu__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5rem;
  }
}
.menu__right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (max-width: 1024px) {
  .menu__right {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }
}
.menu__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 3rem;
  padding-right: 1.5rem;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
@media (max-width: 1024px) {
  .menu__address {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.menu__link {
  display: inline-block;
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  color: #fff;
}
@media (max-width: 1024px) {
  .menu__link {
    font-size: 2rem;
  }
}

.nav {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 3rem;
}
.nav__link {
  font-weight: 700;
  font-size: 3.2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: color 0.5s ease-out, padding-bottom 0.3s ease-out;
  transition: color 0.5s ease-out, padding-bottom 0.3s ease-out;
  will-change: padding-bottom;
}
.nav__link.dropdown-active {
  padding-bottom: 3rem;
}
.nav__link a {
  color: inherit;
}
@media (max-width: 1024px) {
  .nav__link {
    font-size: 2rem;
  }
}
.nav__link.disable {
  color: rgba(255, 255, 255, 0.5);
}
.nav__link-extra {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3rem;
}
.nav__link-extra .plus {
  content: "";
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  background-image: url("./../img/plus.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
}
@media (max-width: 1024px) {
  .nav__link-extra .plus {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.nav-extra {
  display: none;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
@media (max-width: 1024px) {
  .nav-extra {
    padding-right: 7px;
    background-color: #fff;
    padding: 1rem;
  }
}
.nav-extra ::-webkit-scrollbar {
  width: 1px;
  border-radius: 20px;
}
@media (max-width: 1024px) {
  .nav-extra ::-webkit-scrollbar {
    border-radius: 5px;
    width: 5px;
  }
}
.nav-extra ::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);
}
.nav-extra ::-webkit-scrollbar-thumb {
  background-color: #fff;
}
@media (max-width: 1024px) {
  .nav-extra ::-webkit-scrollbar-thumb {
    background-color: #ffa878;
    border-radius: 5px;
    width: 5px;
  }
}
.nav-extra__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3rem;
  overflow-y: auto;
  max-height: 64rem;
  padding-right: 1.5rem;
}
@media (max-width: 1024px) {
  .nav-extra__list {
    max-height: 38rem;
    padding: 0;
  }
}
.nav-extra__link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  color: #fff;
}
@media (max-width: 1024px) {
  .nav-extra__link {
    color: #ea5b0c;
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=main.css.map */