<section class="first-slide" id="about" data-index="0">
  <h2 class="visually-hidden">title</h2>
  <div class="first-slide__content active" data-slide-content="01">
    <div class="first-slide__background">
      <div class="first-slide__video">
        <video src="" autoplay muted loop playsinline>
        </video>
      </div>
    </div>
    <div class="first-slide__text ">
      <h1 class="first-slide__title title1">
        мы на связи
      </h1>
      <div class="first-slide__description first-slide__description--start">
        <p class="first-slide__desc">
          Системная интеграция надежных решений для промышленности
        </p>
        <a href="#" class="btn btn-reset first-slide__btn"><span>Подробнее</span></a>
      </div>
    </div>
    <div class="first-slide__cover first-slide__cover--start"></div>
  </div>
  <div class="first-slide__content" data-slide-content="02">
    <div class="first-slide__background">
      <picture>
        <source srcset="./img/slides/02-mob.webp" media="(max-width: 1024px)">
        <source srcset="./img/slides/02.webp">
        <img src="./img/slides/02.jpg" alt="">
      </picture>
    </div>
    <div class="first-slide__text ">
      <h2 class="first-slide__title title1">
        РАЗВИТИЕ ДЕТСКОЙ<br>ИНЖЕНЕРНОЙ ШКОЛЫ
      </h2>
      <div class="first-slide__description">
        <p class="first-slide__desc first-slide__desc--gray">
          Системный интегратор продолжает поддержку ESG-проекта
          R:ED - ROBOTICS EDUCATION
        </p>
        <a href="#" class="btn btn-reset first-slide__btn first-slide__desc--gray"><span>Подробнее</span></a>
      </div>
    </div>
  </div>
  <div class="first-slide__content" data-slide-content="03">
    <div class="first-slide__background">
      <picture>
        <source srcset="./img/slides/03-mob.webp" media="(max-width: 1024px)">
        <source srcset="./img/slides/03.webp">
        <img src="./img/slides/03.jpg" alt="">
      </picture>
    </div>
    <div class="first-slide__text ">
      <h2 class="first-slide__title title1">
        НОВЫЙ ЭПИЗОД<br>ПОДКАСТА
      </h2>
      <div class="first-slide__description">
        <p class="first-slide__desc">
          Проверка связи об HR-бренде и управлении персоналом в крупной промышленной компании уже на Youtube
        </p>
        <a href="#" class="btn btn-reset first-slide__btn"><span>Подробнее</span></a>
      </div>
    </div>
  </div>
  <div class="first-slide__content" data-slide-content="04">
    <div class="first-slide__background">
      <picture>
        <source srcset="./img/slides/04-mob.webp" media="(max-width: 1024px)">
        <source srcset="./img/slides/04.webp">
        <img src="./img/slides/04.jpg" alt="">
      </picture>
    </div>
    <div class="first-slide__text ">
      <h2 class="first-slide__title title1">
        СИСТЕМНАЯ ИНТЕГРАЦИЯ ДЛЯ ПРОМЫШЛЕННОСТИ
      </h2>
      <div class="first-slide__description">
        <p class="first-slide__desc">
          Гарантированная надежность решений для промышленности даже в самых суровых условиях
        </p>
        <a href="#" class="btn btn-reset first-slide__btn"><span>Подробнее</span></a>
      </div>
    </div>
  </div>
  <div class="first-slide__content" data-slide-content="05">
    <div class="first-slide__background">
      <picture>
        <source srcset="./img/slides/01-mob.webp" media="(max-width: 1024px)">
        <source srcset="./img/slides/01.webp">
        <img src="./img/slides/01.jpg" alt="">
      </picture>
    </div>
    <div class="first-slide__text ">
      <h2 class="first-slide__title title1">
        СОБСТВЕННОЕ ПРОИЗВОДСТВО ОБОРУДОВАНИЯ
      </h2>
      <div class="first-slide__description">
        <p class="first-slide__desc">
          А также партнерство с лидерами инновационных технологий и передовых разработок
        </p>
        <a href="#" class="btn btn-reset first-slide__btn"><span>Подробнее</span></a>
      </div>
    </div>
  </div>


  <div class="">
    <div class="first-slide__thumbs">
      <div class="first-slide__thumb active" data-num="01">
        <span>мы на связи</span>
      </div>
      <div class="first-slide__thumb" data-num="02">
        <span>ROBOTICS EDUCATION</span>
      </div>
      <div class="first-slide__thumb" data-num="03">
        <span>Новый эпизод подкаста</span>
      </div>
      <div class="first-slide__thumb" data-num="04">
        <span>СИСТЕМНАЯ ИНТЕГРАЦИЯ</span>
      </div>
      <div class="first-slide__thumb" data-num="05">
        <span>СОБСТВЕННОЕ ПРОИЗВОДСТВО</span>
      </div>
    </div>
  </div>
</section>