<div class="menu">
  <div class="menu__body">
    <div class="menu__container">
      <nav class="menu__nav nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">О компании</a>
          </li>
          <li class="nav__item">
            <span href="#" class="nav__link nav__link-extra" data-menu-extra="sphere"><a href="#">Сферы деятельности
              </a><span class="plus"></span></span>
            <nav class="nav-extra nav-extra--mob" data-menu-content="sphere">
              <ul class="list-reset nav-extra__list">
                <li class="nav-extra__item">
                  <a href="" class="nav-extra__link">Оперативно-диспетчерская и технологическая громкоговорящая
                    связь</a>
                </li>
                <li class="nav-extra__item">
                  <a href="" class="nav-extra__link">Системы громкого оповещения</a>
                </li>
                <li class="nav-extra__item">
                  <a href="" class="nav-extra__link">Телефония</a>
                </li>
                <li class="nav-extra__item">
                  <a href="" class="nav-extra__link">Системы радиосвязи</a>
                </li>
                <li class="nav-extra__item">
                  <a href="" class="nav-extra__link">Кабельные сети и системы передачи данных</a>
                </li>
                <li class="nav-extra__item">
                  <a href="" class="nav-extra__link">Системы хранения и обработки данных</a>
                </li>
                <li class="nav-extra__item">
                  <a href="" class="nav-extra__link">Системы электронной часофикации</a>
                </li>
                <li class="nav-extra__item">
                  <a href="" class="nav-extra__link">Бесконтактное измерение температуры с помощью тепловизоров</a>
                </li>
                <li class="nav-extra__item">
                  <a href="" class="nav-extra__link">Системы охранного и технологического видеонаблюдения</a>
                </li>
                <li class="nav-extra__item">
                  <a href="" class="nav-extra__link">Системы контроля и управления доступом</a>
                </li>
                <li class="nav-extra__item">
                  <a href="" class="nav-extra__link">Системы пожарной безопасности</a>
                </li>
                <li class="nav-extra__item">
                  <a href="" class="nav-extra__link">Комплексные системы безопасности</a>
                </li>
                <li class="nav-extra__item">
                  <a href="" class="nav-extra__link">Промышленное освещение</a>
                </li>
                <li class="nav-extra__item">
                  <a href="" class="nav-extra__link">Мачты и опоры освещения</a>
                </li>
                <li class="nav-extra__item">
                  <a href="" class="nav-extra__link">Системы прокладки кабеля</a>
                </li>
              </ul>
            </nav>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Услуги</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Импортозамещение</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Проекты</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Сервис</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Новости</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Мероприятия</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Блог</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Вакансии</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>

      <div class="menu__right">
        <address class="menu__address active" data-menu-content="default">
          <a href="mailto:arman@arman-engineering.ru" class="menu__link">arman@arman-engineering.ru</a>
          <a href="tel:78124495620" class="menu__link">+7 (812) 449-56-20</a>
          <a href="tel:77172250333" class="menu__link">+7 (7172) 250-333</a>
          <a href="tel:77015873634" class="menu__link">+7 (701) 587-36-34</a>
        </address>

        <nav class="nav-extra nav-extra--main" data-menu-content="sphere">
          <ul class="list-reset nav-extra__list">
            <li class="nav-extra__item">
              <a href="" class="nav-extra__link">Оперативно-диспетчерская и технологическая громкоговорящая связь</a>
            </li>
            <li class="nav-extra__item">
              <a href="" class="nav-extra__link">Системы громкого оповещения</a>
            </li>
            <li class="nav-extra__item">
              <a href="" class="nav-extra__link">Телефония</a>
            </li>
            <li class="nav-extra__item">
              <a href="" class="nav-extra__link">Системы радиосвязи</a>
            </li>
            <li class="nav-extra__item">
              <a href="" class="nav-extra__link">Кабельные сети и системы передачи данных</a>
            </li>
            <li class="nav-extra__item">
              <a href="" class="nav-extra__link">Системы хранения и обработки данных</a>
            </li>
            <li class="nav-extra__item">
              <a href="" class="nav-extra__link">Системы электронной часофикации</a>
            </li>
            <li class="nav-extra__item">
              <a href="" class="nav-extra__link">Бесконтактное измерение температуры с помощью тепловизоров</a>
            </li>
            <li class="nav-extra__item">
              <a href="" class="nav-extra__link">Системы охранного и технологического видеонаблюдения</a>
            </li>
            <li class="nav-extra__item">
              <a href="" class="nav-extra__link">Системы контроля и управления доступом</a>
            </li>
            <li class="nav-extra__item">
              <a href="" class="nav-extra__link">Системы пожарной безопасности</a>
            </li>
            <li class="nav-extra__item">
              <a href="" class="nav-extra__link">Комплексные системы безопасности</a>
            </li>
            <li class="nav-extra__item">
              <a href="" class="nav-extra__link">Промышленное освещение</a>
            </li>
            <li class="nav-extra__item">
              <a href="" class="nav-extra__link">Мачты и опоры освещения</a>
            </li>
            <li class="nav-extra__item">
              <a href="" class="nav-extra__link">Системы прокладки кабеля</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>