<section class="second-slide" id="sphere" data-index="1">
  <h2 class="visually-hidden">title</h2>

  <div class="second-slide__container">
    <div class="second-slide__left">
      <h3 class="title3 second-slide__title">Сферы деятльности</h3>
      <div class="second-slide__slider swiper active" data-info-content="01">
        <div class="swiper-wrapper second-slide__items">
          <div class="swiper-slide">
            <div class="second-slide__item info-item active">
              <h5 class="title5 info-item__title">Оперативно-диспетчерская и технологическая громкоговорящая связь</h5>
              <p class="desc info-item__desc">
                Построение систем диспетчерской и технологической громкоговорящей связи является зоной особых
                компетенций специалистов «Арман», имеющих беспрецедентный опыт в этой области.
              </p>
            </div>
            <div class="second-slide__item info-item">
              <h5 class="title5 info-item__title">Системы громкого оповещения</h5>
              <p class="desc info-item__desc">
                Важнейшим условием для принятия мер по защите населения при угрозе и возникновении стихийных бедствий,
                крупных производственных аварий и других чрезвычайных ситуаций является своевременные системы
                оповещения.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="second-slide__item info-item">
              <h5 class="title5 info-item__title">Телефония</h5>
            </div>
            <div class="second-slide__item info-item">
              <h5 class="title5 info-item__title">Системы радиосвязи</h5>
              <p class="desc info-item__desc">
                Системы радиосвязи «Арман» обеспечивают сотрудников предприятия беспроводной радиосвязью, в том числе в
                промышленных зонах.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination second-slide__pagination"></div>
      </div>
      <div class="second-slide__slider swiper" data-info-content="02">
        <div class="swiper-wrapper second-slide__items">
          <div class="swiper-slide">
            <div class="second-slide__item info-item">
              <h5 class="title5 info-item__title">Кабельные сети и системы передачи данных</h5>
            </div>
            <div class="second-slide__item info-item">
              <h5 class="title5 info-item__title">Системы хранения и обработки данных</h5>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="second-slide__item info-item">
              <h5 class="title5 info-item__title">Системы электронной часофикации</h5>
              <p class="desc info-item__desc">
                Технология MPLS была разработана для организации единого протокола передачи данных как для приложений с
                коммутацией каналов, так и приложений с коммутацией пакетов. MPLS может быть использован для передачи
                различного вида трафика, включая IP-пакеты, ячейки ATM, фреймы SONET/SDH и кадры Ethernet.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination second-slide__pagination"></div>
      </div>


      <div class="second-slide__slider swiper" data-info-content="03">
        <div class="swiper-wrapper second-slide__items">
          <div class="swiper-slide">
            <div class="second-slide__item info-item">
              <h5 class="title5 info-item__title">Бесконтактное измерение температуры с помощью тепловизоров</h5>
            </div>
            <div class="second-slide__item info-item">
              <h5 class="title5 info-item__title">Системы охранного и технологического видеонаблюдения</h5>
              <p class="info-item__desc desc">
                Современные многофункциональные системы промышленного видеонаблюдения компании «Арман» многократно
                усиливают эффективность остальных элементов системы безопасности, таких как система контроля доступа и
                охранно-пожарная сигнализация.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="second-slide__item info-item">
              <h5 class="title5 info-item__title">Системы контроля и управления доступом</h5>
            </div>
            <div class="second-slide__item info-item">
              <h5 class="title5 info-item__title">Системы пожарной безопасности</h5>
            </div>
            <div class="second-slide__item info-item">
              <h5 class="title5 info-item__title">Комплексные системы безопасности</h5>
              <p class="desc info-item__desc">
                Комплексные системы безопасности (КСБ) промышленных объектов — это автоматизированные иерархические
                сложные системы.
                Назначением КСБ является обеспечение комплексной защиты объектов от техногенных аварий, пожаров,
                криминальных проявлений, нештатных природно-климатических воздействий, последствий стихийных бедствий,
                ошибочных действий людей.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination second-slide__pagination"></div>
      </div>

      <div class="second-slide__slider swiper" data-info-content="04">
        <div class="swiper-wrapper second-slide__items">
          <div class="swiper-slide">
            <div class="second-slide__item info-item">
              <h5 class="title5 info-item__title">Промышленное освещение</h5>
              <p class="desc info-item__desc">
                Специалисты инженерного центра «Арман» уже более 10 лет занимаются освещением крупнейших промышленных
                предприятий на территории России. В продуктовом портфеле компании широкий ассортимент осветительного
                оборудования собственного производства для применения в различных областях промышленности: в местах с
                критическими температурами, в морских, взрывоопасных, химически агрессивных и других средах.
              </p>
            </div>
            <div class="second-slide__item info-item">
              <h5 class="title5 info-item__title">Мачты и опоры освещения</h5>
              <p class="desc info-item__desc">
                Специалисты компании «Арман» обладают значительным опытом в сфере проектирования наружного освещения
                территорий промышленных предприятий и объектов транспортного назначения. Благодаря обширному
                ассортименту мачт и опор, различных типов закладных элементов и нетиповых металлоконструкций, компания
                «Арман» успешно реализовывает проекты наружного освещения любой сложности.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="second-slide__item info-item">
              <h5 class="title5 info-item__title">Системы прокладки кабеля</h5>
              <p class="desc info-item__desc">
                Компания «Арман» предлагает комплексные решения для промышленных предприятий в сфере электроснабжения. 
                В продуктовом портфеле компании имеется большой ассортимент кабеленесущих систем, а также систем опорных
                конструкций. Таким образом компания «Арман» полностью закрывает потребность предприятий при построении
                инфраструктуры по прокладке кабельных трасс.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination second-slide__pagination"></div>
      </div>

      <div class="second-slide__close">
        Закрыть
      </div>
    </div>
    <div class="second-slide__right">
      <h3 class="title3 second-slide__title second-slide__title--mob">Сферы деятльности</h3>
      <div class="second-slide__wrapper">
        <div class="second-slide__thumb info-thumb active" data-info-tab="01">
          <span class="info-thumb__count">01</span>
          <h4 class="info-thumb__title">Система промышленной связи</h4>
          <div class="info-thumb__image">
            <picture>
              <source srcset="./img/info-thumbs/01.webp">
              <img src="./img/info-thumbs/01.webp">
            </picture>
          </div>
        </div>
        <div class="second-slide__thumb info-thumb" data-info-tab="02">
          <span class="info-thumb__count">02</span>
          <h4 class="info-thumb__title">Система передачи и хранения данных</h4>
          <div class="info-thumb__image">
            <picture>
              <source srcset="./img/info-thumbs/02.webp">
              <img src="./img/info-thumbs/02.webp">
            </picture>
          </div>
        </div>
        <div class="second-slide__thumb info-thumb" data-info-tab="03">
          <span class="info-thumb__count">03</span>
          <h4 class="info-thumb__title">Система видеонаблюдения и безопасности</h4>
          <div class="info-thumb__image">
            <picture>
              <source srcset="./img/info-thumbs/03.webp">
              <img src="./img/info-thumbs/03.webp">
            </picture>
          </div>
        </div>
        <div class="second-slide__thumb info-thumb" data-info-tab="04">
          <span class="info-thumb__count">04</span>
          <h4 class="info-thumb__title">Электротехническое оборудование</h4>
          <div class="info-thumb__image">
            <picture>
              <source srcset="./img/info-thumbs/04.webp">
              <img src="./img/info-thumbs/04.webp">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>